<% content_for :title do %>Eric Ryan Harrison<% end %>
<% content_for :description do %>The Personal and Amazing Homepage of Eric Ryan Harrison<% end %>
<section>
	<img src="//lorempixel.com/1170/600/cats/1" />
</section>
<section>
	<div class="column">
		<h2>Stay in touch.</h2>
	</div>
	<div class="column">
		<div class="form-centered">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => "Your email address..." %>
				<br />
				<%= f.button :submit, "Sign up for my sweet newsletter", :class => "submit" %>
			<% end %>
		</div>
	</div>
</section>