<% content_for :title do %>About<% end %>
<h3>About Eric Harrison</h2>
<p>
	He lives in Georgia and builds things of varying
	complexity. Most of these things have little
	practical value, but are fun nonetheless.
</p>
<p>
	He is 29 years old.
</p>
<p>
	He has a cat that he is not very fond of.
</p>
